APP_ENV=production
FRONTEND_PORT=3000
BACKEND_PORT=8000

DATABASE_URL=mysql+pymysql://root:123456@host.docker.internal:3333/jhcisdb?charset=utf8mb4
MYSQL_ROOT_PASSWORD=root_password_change_me
MYSQL_DATABASE=jhcis_dashboard
MYSQL_USER=jhcis_user
MYSQL_PASSWORD=jhcis_password

REDIS_URL=redis://redis:6379/0
API_BASE_URL=http://backend:8000
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000
